@-webkit-keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
}

.container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 13.5rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 13.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 13.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  -ms-grid-rows: min-content 80vh;
      grid-template-rows: -webkit-min-content 80vh;
      grid-template-rows: min-content 80vh;
  background-color: #fff;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88rem;
  z-index: -1000;
  background: linear-gradient(45deg, #a960ee, #ff333d, #90e0ff, #ffcb57);
  background-size: 600% 600%;
  -webkit-animation: GradientBackground 10s ease infinite;
          animation: GradientBackground 10s ease infinite;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 20%, 0 67%);
          clip-path: polygon(0 0, 100% 0%, 100% 20%, 0 67%);
}

.navbar {
  grid-column: center-start / center-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 16rem;
  font-size: 1.5rem;
  color: #fff;
}

.navbar__logo {
  font-size: 2.2rem;
}

.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__items--item {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.navbar__items--item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.navbar__items--item:not(:last-child) {
  margin-right: 3rem;
}

.navbar__sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7rem;
  padding: 0.8rem 1.4rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.header {
  grid-column: col-start 1 / col-end 6;
}

.header__text--h1 {
  font-size: 7rem;
  font-weight: 800;
  color: #3a3a3a;
  width: 70%;
}

.header__text--paragraph {
  color: #425466;
  font-size: 1.8rem;
  font-weight: 300;
  width: 50%;
}

.btn__sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7rem;
  padding: 0.8rem 1.4rem;
  border-radius: 25px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-family: inherit;
  cursor: pointer;
}

.btn__sign-in:focus {
  outline: none;
}

.btn__sign-in:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

.btn__right-arrow {
  font-size: 2.6rem;
  font-weight: 300;
  line-height: 0;
}
/*# sourceMappingURL=main.css.map */