// Center arrow with text somehow

.btn {
	&__sign-in {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 7rem;
		padding: 0.8rem 1.4rem;
		border-radius: 25px;
		border: none;

		background-color: rgba(255, 255, 255, 0.2);
		color: #fff;
		font-family: inherit;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.45);
		}
	}

	&__right-arrow {
		font-size: 2.6rem;
		font-weight: 300;
		line-height: 0;
	}
}
