.container {
	display: grid;
	grid-template-columns:
		[full-start] minmax(6rem, 1fr)
		[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
		[center-end]
		minmax(6rem, 1fr) [full-end];
	grid-template-rows: 86rem;

	// My attempt at their gradient
	background: linear-gradient(45deg, #a960ee, #ff333d, #90e0ff, #ffcb57);
	background-size: 600% 600%;
	animation: GradientBackground 10s ease infinite;

	clip-path: polygon(0 0, 100% 0%, 100% 20%, 0 67%);
}

.content-container {
	grid-column: center-start / center-end;
}
