.header {
	grid-column: col-start 1 / col-end 6;

	&__text {
		&--h1 {
			font-size: 7rem;
			font-weight: 800;
			color: $primary-color;
			width: 70%;
		}

		&--paragraph {
			color: $secondary-color;
			font-size: 1.8rem;
			font-weight: 300;
			width: 50%;
		}
	}

	&__image {
	}
}
